<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
<div th:insert="fragments/template.html :: header"></div>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <th:block th:insert="fragments/template.html :: navbar"></th:block>
         
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
      	<th:block th:insert="fragments/template.html :: left-sidebar"></th:block>
      	
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-center">Batch processing</h3>
                    </div>
                    
                    <button type="button" class="btn btn-primary" id="btnRun">Run</button>
                </div>
                <div class="row"> 
                	<div id="result">Ready.</div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
   
    
    <!-- ============================================================== -->
	<!-- JQuery js files and Script files used in bootstrap table 
	<!-- ============================================================== -->
	<th:block th:insert="fragments/template.html :: script"></th:block>
	
	<script>

		$(document).ready(function () {
			
			var processScript = true;
			
			$("#btnRun").click(function () {
			
				if (!processScript) {
					alert("Please wait for a while.")
					return;
				}
				processScript = false;
				
				$('#result').text("Processing...");
				
				$.getJSON("/stats/batchProcess", function (data) {
					console.log(data);					
				}).done(function () {
					console.log("Done");
				}).fail(function() {
				    console.log( "error" );
			    }).always(function() {
			    	console.log( "complete" );
			    	$('#result').text("Done.");
			    	processScript = true;
			    });
				
				
			});
		});
	</script>
</body>
 
</html>