<!DOCTYPE HTML>
<META http-equiv="Pragma" content="no-cache">
<html>
<script>
	function goPage() {
		location.href="/employees/goList";
	} 
	
	function request() {
		location.href="/employees/list";
	}
</script>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css'>
</head>
<body>
	<h1>Here are links to all the pages.</h1>
	<br>
    <button type="button" class="btn btn-primary" onclick="goPage();">Employees</button>     
    <br>
    <br>
    <button type="button" class="btn btn-primary" onclick="request();">Request list</button>
    <br>
    <br>
    <a href="data-tables.html">Data table</a>
    <br>
    <br>
    <a href="/employees/list2">/employees/list2</a>
    <br>
    <br>
    <a href="/employees/list3">/employees/list3</a>
    <br>
    <br>
    <a href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">/webjars/bootstrap/4.4.1/css/bootstrap.min.css</a>
    <br><br>
    <a href="/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js">/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js</a>
    <br><br>
    <a href="/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css">/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css</a>
</body>
</html>
