<!DOCTYPE HTML>
<META http-equiv="Pragma" content="no-cache">
<html>
<script>
	function searchAll() {
		location.href="/employees/searchAll";
	} 
	 
</script>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='/webjars/bootstrap/4.4.1/css/bootstrap.min.css'>
</head>
<body>
	<h1>Here are links to all the pages.</h1>
	<br>
    <br>
    <a href="/employees/searchAll">All Employees</a>
    <br>
    <br>
    <a href="/employees/showDataTables">Show the Data table</a>
    <br>
    <br>
    <a href="/employees/search">/employees/search</a>
    <br>
    <br>
    <br>
    <br>
    <a href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">/webjars/bootstrap/4.4.1/css/bootstrap.min.css</a>
    <br><br>
    <a href="/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js">/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js</a>
    <br><br>
    <a href="/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css">/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.css</a>
</body>
</html>
