<!-- ============================================================== -->
<!-- 
	Shows a list of employees. Send and receive data through Ajax with the Web server.
	Display data using bootstrap table.

	Date : April 6, 2020
	Author : Youngcheol
 -->
<!-- ============================================================== -->
<!doctype html>
<html lang="en">
<div th:insert="fragments/template.html :: header"></div>

<body>

	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="container-fluid  dashboard-content">

		<div th:insert="fragments/template.html :: page-header"></div>

		<div class="row">
			<!-- ============================================================== -->
			<!-- Bootstrap table  -->
			<!-- ============================================================== -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="card">
					<div th:insert="fragments/template :: card-header"></div>
					<div class="card-body">
						<div class="table-responsive">
							<div id="toolbar">
								<button id="remove" class="btn btn-primary" onclick="openAddPage();">
									<i class="glyphicon glyphicon-remove"></i> Add Employee
								</button>
							</div>
							<!-- ============================================================== -->
							<!-- ${pageNumber} is to show the original page when returning to this page after data modification. -->
							<!-- ============================================================== -->
							<table id="table" data-toggle="table" data-search="true" data-search-on-enter-key="true" data-height="460" data-pagination="true"
								th:attr="data-page-number=${pageNumber}" data-side-pagination="server" data-server-sort="true" 
								data-sort-order="desc" data-sort-name="id" data-query-params="queryParams"
								data-response-handler="responseHandler" data-url="/employees/search" data-click-to-select="true"
								class="table table-striped table-bordered">
								<thead>
									<tr>
										<th data-field="id" data-sortable="true" data-sorter="idSorter">ID</th>
										<th data-field="firstName">First Name</th>
										<th data-field="lastName">Last Name</th>
										<th data-field="email">Email</th>
										<th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Operate</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End of Bootstrap table  -->
			<!-- ============================================================== -->
		</div>
	</div>

	<div class="card-footer" th:replace="fragments/template.html :: footer"></div>

	<!-- ============================================================== -->
	<!-- JQuery js files and Script files used in bootstrap table 
	<!-- ============================================================== -->
	<th:block th:insert="fragments/template.html :: script"></th:block>

	<script>
		var $table = $('#table')
		var $remove = $('#remove')
		var selections = []

		function getIdSelections() {
			return $.map($table.bootstrapTable('getSelections'), function(row) {
				return row.id
			})
		}

		function queryParams(params) {
			// do something 
			return params
		}

		function responseHandler(res) {
			if ($('#table').bootstrapTable('getOptions').sortOrder === 'desc') {
				res.rows = res.rows.reverse()
			}
			return res
		}

		function idSorter(a, b) {
			//do something
		}
		function operateFormatter(value, row, index) {
			return [
					'<a class="edit" href="javascript:void(0)" title="Edit">',
					'<i class="fa fa-edit"></i>',
					'</a>&ensp;',
					'<a class="remove" href="javascript:void(0)" title="Remove">',
					'<i class="fa fa-trash"></i>', '</a>' ].join('')
		}

		window.operateEvents = {
			'click .edit' : function(e, value, row, index) {
				/* alert('You click edit action, row: ' + JSON.stringify(row)) */
				var pageNumber = $table.bootstrapTable('getOptions').pageNumber;

				location.href = "/employees/edit/" + row.id + "/pageNumber/"
						+ pageNumber;
			},
			'click .remove' : function(e, value, row, index) {

				$.ajax({
					// The URL for the request
					url : "/employees/delete/" + row.id,
					type : "GET",
					dataType : "json",
				}).done(function(json) {
					console.log("done=" + json);
				})
				// Code to run if the request fails; the raw request and
				// status codes are passed to the function
				.fail(function(xhr, status, errorThrown) {
					console.log("Error: " + errorThrown);
					console.log("Status: " + status);
					console.dir(xhr);
				}).always(function(xhr, status) {
					console.log("The request is complete!");
					$table.bootstrapTable('refresh');
				});

				$table.bootstrapTable('remove', {
					field : 'id',
					values : [ row.id ]
				})
			}
		}

		function initTable() {

			$table.on('check.bs.table uncheck.bs.table '
					+ 'check-all.bs.table uncheck-all.bs.table', function() {
				$remove.prop('disabled', !$table
						.bootstrapTable('getSelections').length)

				// save your data, here just save the current page
				selections = getIdSelections()
				// push or splice the selections if you want to save all data selections
			})
			$table.on('all.bs.table', function(e, name, args) {
				console.log(name, args)
			})
			$remove.click(function() {
				var ids = getIdSelections()
				$table.bootstrapTable('remove', {
					field : 'id',
					values : ids
				})
				$remove.prop('disabled', true)
			})

		}

		$(function() {
			initTable()

			$('#locale').change(initTable)
		})

		function openAddPage() {
			location.href = "/employees/add";
		}
	</script>

</body>

</html>